body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #d6e8eb;
    margin-bottom: 60px;
}

.page-lab2-2 body {
    text-align: center;
}

.page-lab2-3 body {
    text-align: center;
}


header {
    background-color: #333;
    color: white;
    padding: 10px 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 0;
}

.navbar li {
    margin: 0 15px;
}

.navbar a {
    color: white;
    text-decoration: none;
    font-size: 16px;
}

.navbar a:hover {
    text-decoration: underline;
}

h1 {
    text-align: center;
    color: #333;
    margin-top: 80px; /* Adjusted margin for the header */
}

h2 {
    color: #444;
    text-align: center;
    margin-top: 50px;
}


p {
    color: #555;
    padding: 0 15%;
    margin: 20px auto;
    line-height: 1.8;
}

ul {
    padding: 0 15%;
    list-style-type: disc;
    color: #666;
}

ul li {
    margin-bottom: 10px;
}

figure {
    text-align: center;
    margin: 30px 0;
}

img {
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

figcaption {
    font-size: 14px;
    color: #777;
}

a {
    color: #3498db;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}

/* Page-specific Styles for .page-lab1-2 */
.page-lab1-2 button {
    margin: 10px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #3498db;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

.page-lab1-2 button:hover {
    background-color: #2980b9;
}

.page-lab1-2 img {
    display: none; /* Hide initially */
    margin: 0 auto; /* Center the image */
}

.page-lab1-2 figcaption {
    font-size: 14px;
    color: #777;
    margin-top: 10px;
}

.svg-container {
    display: flex;
    justify-content: center;
    margin: 20px 0;
}